<form nz-form [formGroup]="forgotPassswordForm" class="login-form" (ngSubmit)="submitForm(forgotPassswordForm.value)">
    <img class="logo" src="assets/icons/login-logo.PNG">
    <p>{{message}}</p>

    <div *ngIf="showPersonal" formGroupName="personal">
        <nz-form-item>
            <nz-form-control nzErrorTip="{{'Please input your email!' | translate}}" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="email" placeholder="{{'Email' | translate}}" type="email" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">
                            {{'The input is not valid E-mail!' | translate}}
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            {{'Please input your email!' | translate}}
                        </ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button (click)="onClickForgotPassword()" [disabled]="personalGroup.invalid">{{'Lost password?' | translate}}</button>
    </div>
    <div *ngIf="showFull" formGroupName="full">
        <nz-form-item>
            <nz-form-control nzErrorTip="{{'Please input your Code!' | translate}}" nzHasFeedback>
                <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="otp" placeholder="{{'Code' | translate}}" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <nz-input-group nzPrefixIcon="lock">
                    <input nz-input formControlName="new_password" placeholder="{{'New Password' | translate}}" />
                </nz-input-group>
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{'Please input New Password!' | translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        {{'The New Password is redundant!' | translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <nz-input-group nzPrefixIcon="lock">
                    <input nz-input type="password" formControlName="confirm_new_password" placeholder="{{'Confirm your password' | translate}]" />
                </nz-input-group>
                <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        {{'Please confirm your password!' | translate}}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        {{'Password is inconsistent!' | translate}}
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <button nz-button (click)="onClickResetPassword()" [disabled]="fullGroup.invalid">{{'Lost password?' | translate}}</button>
    </div>
</form>