<form nz-form [formGroup]="forgotPassswordForm" class="login-form" (ngSubmit)="submitForm()">
    <img class="logo" src="assets/icons/login-logo.PNG">
    <p>{{message}}</p>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="otp">
        <nz-form-control nzErrorTip="Please input your Code!">
            <nz-input-group nzPrefixIcon="mail">
                <input type="text" nz-input formControlName="otp" placeholder="Code" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="otp">
        <nz-form-control nzErrorTip="Please input your New Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="text" nz-input formControlName="new_password" placeholder="New Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="otp">
        <nz-form-control nzErrorTip="Please input your New Confirm New Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="text" nz-input formControlName="confirm_new_password" placeholder="Confirm New Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <button nz-button (click)="onClickForgotPassword()">Forgot Password</button>
</form>