<div class="wrapper">
    <header class="avatar">
        <img class="logo" src="assets/icons/logo.PNG">
    </header>
    <ul nz-menu nzMode="inline" nzTheme="dark">
        <li *ngFor="let item of menuItem" [routerLink]="item.path" nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLinkActive="activeRouter">
            <i nz-icon nzType="{{item?.icon}}" style="color: #d357f8;"></i>
            <span style="color: #d357f8;">{{item?.label}}</span>
            <ul>
                <li *ngFor="let chiled of item?.children" [routerLink]="item.path" nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLinkActive="activeRouter">
                    <i nz-icon nzType="{{item?.icon}}" style="color: #d357f8;"></i>
                    <span style="color: #d357f8;">{{item?.label}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('arm')">arm</button>