img {
    margin: 10px;
}

.activeRouter {
    background: #58b6f444 !important;
    color: #ffffff !important;
}

// ::ng-deep .ant-menu-submenu-arrow {
//     color: #d357f8 !important;
// }
::ng-deep {
    .ant-menu-submenu-title:hover {
        color: #d357f8 !important;
    }
    .ng-star-inserted {
        color: #d357f8 !important;
    }
    .anticon .anticon-setting .ng-star-inserted {
        color: #d357f8 !important;
    }
    .ant-menu-item {
        padding-left: 40px !important;
    }
    .ant-menu-submenu-title {
        padding-left: 38px !important;
    }
}

::ng-deep .ant-menu-item-selected {
    background: none !important;
}