<!-- <div class="home">
    <div [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }" class="nz-calendar">
        <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)" (nzPanelChange)="onPanelChange($event)"></nz-calendar>
    </div>
    <div class="home-main" *ngIf="date">
        <p>{{date | date}}</p>
        <div nz-row [nzGutter]="6">
            <div nz-col [nzSpan]="6" class="nz-col-item">
                <nz-card class="free-item" nzTitle="10:45">
                    <label nz-checkbox>free</label>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="nz-col-item" (click)="showModal()">
                <nz-card nzTitle="12:45" class="rese-item">
                    <label nz-checkbox>rese</label>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="nz-col-item">
                <nz-card class="free-item" nzTitle="14:45">
                    <label nz-checkbox>free</label>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="6" class="nz-col-item" (click)="showModal()">
                <nz-card nzTitle="17:45" class="rese-item">
                    <label nz-checkbox>rese</label>
                </nz-card>
            </div>

        </div>
    </div>
</div> -->