.employe-img {
    height: 235px;
    width: 235px;
    margin: 10px 180px;
    display: flex;
    border: 1px dashed #d357f8;
}

::ng-deep {
    .ant-modal-footer {
        display: none;
    }
    b {
        font-weight: bold;
    }
    p {
        margin: 10px 0;
    }
    main {
        border-radius: 5px;
        box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        margin: 10px;
        padding: 10px;
    }
}

::ng-deep .ant-modal-header {
    padding: 25px !important;
}