main {
    box-shadow: 0px 16px 12px 7px #f8f9fa;
    margin: 40px auto;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient( to left, #d357f8 12%, #918bf3 47%, #d357f8 100%) left bottom #ffffff no-repeat;
    background-size: 100% 3px;
    .date-title {
        text-align: center;
        color: #d357f8;
        font-size: 25px;
    }
    .icon-img {
        width: 15px;
        display: flex;
    }
}

::ng-deep {
    .nz-modal-footer {
        display: none;
    }
    .nz-calendar {
        border: 1px solid #d357f8;
    }
    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
        background: #918bf3;
        &::before {
            border: 1px solid #918bf3;
        }
    }
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
        border: 1px solid #918bf3;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: #918bf3;
        border-color: #918bf3;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: #918bf3;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        border-color: #918bf3;
    }
    .free-item {
        border-image-source: linear-gradient(45deg, #7b70fe, #ad2df1, #918bf3);
        box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.52);
        border-image-slice: 1;
        margin: 10px;
    }
    // .rese-item {
    //     border-image-slice: 1;
    //     border-image-source: linear-gradient(45deg, #b6349c, #ef0a6a, #b6349c);
    //     box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    //     margin: 10px;
    // }
    .ant-card-body {
        padding: 5px;
    }
    .ant-card-head {
        font-weight: 600;
    }
    .ant-card-head-title {
        padding: 5px 0;
    }
    .ng-star-inserted {
        color: #424242;
    }
}