::ng-deep {
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-close {
        color: #d357f8 !important;
    }
}

nz-modal-container {
    display: flex !important;
}

::ng-deep .ant-modal {
    padding: 0 !important;
    margin: auto !important;
    top: 0 !important;
}