<div class="providers">
    <button nz-button style="width: 200px" (click)="onClickOpenCreateProviderModal()">Create Providers</button>
    <header>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="search" [formControl]="searchCtrl" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzSearch style="margin: 0;padding: 0; width: 40px;"><i nz-icon nzType="search"></i></button>
        </ng-template>
    </header>
    <p>{{message}}</p>
    <nz-table #nzTable [nzData]="providersData" nzTableLayout="fixed">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Type</th>
                <th>Rating</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>See employee</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data;let ind=index">
                <tr>
                    <td>{{ind+1}}</td>
                    <td>{{ data?.name }}</td>
                    <td *ngIf="data?.type==='I'">Individual</td>
                    <td *ngIf="data?.type==='B'">Barber shop</td>
                    <td *ngIf="data?.type==='S'">Beauty salon</td>
                    <td>{{ data?.rating }}</td>
                    <td> <i (click)="onClickOpenProviderModalById(data?.id)" nz-icon nzType="edit" nzTheme="outline"></i></td>
                    <td><i (click)="onClickDeleteProvider(data?.id)" nz-icon nzType="delete" nzTheme="outline"></i></td>
                    <td><i nz-icon nzType="user-switch" nzTheme="outline" (click)="onClickRouterEmployee(data?.id)"></i></td>
                </tr>
            </ng-container>
        </tbody>

    </nz-table>
    <app-paginator [count]="count" [pageLength]="pageLength" (paginate)="paginate($event)"></app-paginator>

</div>