<nav class="nav">
    <div class="nav-bar-content">
        <img src="assets/icons/menu-icon.PNG" class="tob-bar-icon menu-icon" (click)="onClickIsOpen()">
        <img src="assets/icons/menu-icon.PNG" class="tob-bar-icon response-icon" (click)="onClickOpenResponseMenu()">
        <p class="title header-title">{{title}}</p>
        <img src="assets/icons/log-out.PNG" class="tob-bar-icon" (click)="onClickLogOut()">

    </div>
    <div class="wrapper side-bar-response" *ngIf="isOpenResponseMenu">
        <ul nz-menu nzMode="inline" nzTheme="dark">
            <li *ngFor="let item of menuItem" (click)="onClickRouter(item?.path)" nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <i nz-icon nzType="user"></i>
                <span>{{item?.label}}</span>
            </li>
        </ul>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="Setting" nzIcon="setting">
                <ul>
                    <li nz-menu-item routerLink="changed-password" routerLinkActive="activeRouter">Change Password</li>
                    <li nz-menu-item>Languages</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>