<img nz-image width="180px" height="70px" nzSrc="error" src="assets/icons/logo.PNG" alt="" /><br/>
<button nz-button routerLink="/auth/login">Login</button><br/>
<button nz-button routerLink="/auth/registration">Registration</button><br/>
<p class="title" routerLink="/auth/forgot-password">Lost password?</p><br/>
<img nz-image width="60px" height="70px" nzSrc="error" src="assets/icons/social-fb-icon.PNG" alt="" class="social-icon">
<img nz-image width="60px" height="70px" nzSrc="error" src="assets/icons/social-google-icon.PNG" alt="" class="social-icon">
<img nz-image width="60px" height="70px" nzSrc="error" src="assets/icons/social-vk-icon.PNG" alt="" class="social-icon">