           ::ng-deep {
              .ant-modal-footer {
                  display: none;
              }
          }
          
          nz-select {
              width: 100%;
          }
          
           ::ng-deep {
              .ant-modal-close {
                  color: #918bf3 !important;
              }
          }
          
           ::ng-deep .ant-modal {
              padding: 0 !important;
              margin: auto !important;
              top: 0 !important;
          }