         ::ng-deep {
            .ant-modal-footer {
                display: none;
            }
        }
        
        nz-select {
            width: 100%;
        }
        
         ::ng-deep {
            .ant-modal-close {
                color: #d357f8 !important;
            }
        }