<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <img class="logo" src="assets/icons/login-logo.PNG">
    <p>{{message}}</p>
    <nz-form-item>
        <nz-form-control nzErrorTip="{{'Please input your phonenumber!' | translate}}" nzHasFeedback>
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="username" placeholder="{{'Phone Number' | translate}}" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="{{'Please input your Password!' | translate}}" nzHasFeedback>
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="{{'Password' | translate}}" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <p class="title" routerLink="/auth/forgot-password">{{'Lost password?'| translate}}</p><br/>
    <button nz-button (click)="onClickLogin()">{{'Login' | translate}}</button>
</form>